
.navContainer{
    width: 92vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vmax;
    background-color: rgb(156, 216, 196);
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    padding: 1.5% 3.5%;
    margin-top: 0.7%;
    margin-bottom: 2.5%;

    .navLogoContainer{
        display: flex;
        width: 25%;
        color: rgb(81, 35, 124);
        justify-content: center;
        align-items: center;
    }
}

.navLogo{
    margin-left: 3%;
    text-decoration: none;
    color: rgb(81, 35, 124);
    padding: 2% 1%;
    border-radius: 10px;    
}

.navLogo:hover{
    cursor: pointer;
    background-color: rgb(134, 92, 174);
    color: white;
    font-weight: 700;
}

.navItemContainer{
    width: 45%;
    display: flex;
    flex-direction: row-reverse;
}

.navItem{
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 2%;
    color: rgb(81, 35, 124);
    text-decoration: none;
    padding: 1%;
    border-radius: 10px;
}

.navIcon{
    height: 1.8vmax;
    width: 1.8vmax;
    margin-right: 8px;
}

.navItem:hover{
    cursor: pointer;
    background-color: rgb(134, 92, 174);
    color: white;
    font-weight: 700;
    padding: 1%;
    border-radius: 10px;
}